@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Playpen+Sans&family=Raleway:wght@300&family=Roboto:wght@300&family=Young+Serif&display=swap");
/* font-family: 'Comic Neue', cursive;
font-family: 'Playpen Sans', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Young Serif', serif; */
* {
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: white;
  color: black;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #0c0b0b;
}

.heading {
  font-size: 4rem;
  color: #f958f9;
  text-align: center;
  padding: 6rem 1rem 0 0;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.tittle {
  padding: 0 1rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 400rem;
  color: white;
}

.home {
  min-height: 50vh;
  background: linear-gradient(rgba(225, 184, 0, 0.2), rgba(236, 134, 0, 0.8)), url(multi/historia.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  overflow: hidden;
  position: relative;
}

.home .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-top: 25rem;
  text-align: center;
}

.home .content h1 {
  font-size: 5rem;
  color: white;
  padding: 0 1rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.home .content p {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 2rem;
  color: #000000;
  padding: 0 1rem;
}

.home .content button {
  height: 5rem;
  width: 20rem;
  border-radius: 1rem;
  background: #03070460;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  margin-top: 4rem 0;
  border-color: #221d1c;
}

.home .content button:hover {
  background: none;
  border: 0.2rem solid #534f4c;
}

.carousel {
  width: 100%;
  position: relative;
  display: flex;
  margin: auto;
}

.carousel img {
  width: 100%;
}

.sec {
  width: 100%;
}

.info {
  color: white;
}

.classes {
  text-align: center;
  margin: 100px 0;
}

.classes .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.classes .box-container .box {
  height: 25rem;
  width: 25rem;
  background: #171717;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 5rem rgba(0, 0, 0, 0.5);
  margin: 2rem;
  cursor: pointer;
}

.classes .box-container .box h3 {
  text-transform: uppercase;
  font-size: 2rem;
  color: #0ef954;
  transition: 0.2s;
}

.classes .box-container .box p {
  text-transform: lowercase;
  font-size: 1.3rem;
  padding: 0.7rem 2rem;
  color: white;
}

.classes .box-container .box:hover i {
  background: violet;
}

.classes .box-container .box:hover h3 {
  color: #f9580e;
}

.classes button {
  height: 5rem;
  width: 20rem;
  border-radius: 1rem;
  background: #0ef954;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  margin-top: 50px;
}

.classes button:hover {
  background: none;
  border: 0.2rem solid #f9580e;
}

.classes .row .content {
  color: white;
  padding-left: 5rem;
  margin: 10rem 0;
  text-align: center;
}

.classes content h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 5opx;
  text-transform: lowercase;
  font-size: 20px;
  color: white;
}

.classes .row .content p {
  font-size: 1.6rem;
  color: white;
  padding: 1rem 0;
}

.carousel-inner {
  height: 500%;
}

.carousel-inner img {
  width: 55%;
  height: 100%;
  background-size: contain;
  object-fit: cover;
  margin: auto;
}

.about {
  background: #171717;
}

.about .tittle {
  margin-bottom: 3rem;
}

.about h1 {
  color: white;
}

.about .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about .row .image img {
  width: 300px;
  height: 100%;
  max-width: 100%;
  margin-right: 20px;
  float: center;
}

.about .row .content {
  padding-left: 5rem;
  margin: 5rem 0;
}

.about h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 5opx;
  text-transform: lowercase;
  font-size: 20px;
  color: white;
}

.about .row .content p {
  font-size: 1.6rem;
  color: white;
  padding: 1rem 0;
}

.about .row .content button {
  height: 5rem;
  width: 17rem;
  background: #f9580e;
  color: white;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 2rem;
  transition: 0.2s;
  margin-top: 2rem;
}

.about .row .content button:hover {
  background: none;
  border: 0.2rem solid #f9580e;
}

.info .box-container {
  width: 85%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 4rem 0;
  flex-wrap: wrap;
}

.info .box-container .box {
  background: #171717;
  height: 25rem;
  width: 25rem;
  margin: 3.5rem 2rem;
  text-align: center;
  border-radius: 1rem;
}

.info h1 {
  color: white;
}

.info h3 {
  color: rgba(255, 255, 255, 0.384);
  text-align: center;
}

.info .box-container .box i {
  height: 10rem;
  width: 10rem;
  line-height: 8rem;
  text-align: center;
  color: #000000;
  background: none;
  margin-top: 2rem;
  font-size: 5rem;
}

.info .box-container .box h3 {
  font-size: 2rem;
  color: #ffc246;
}

.info .box-container .box p {
  text-transform: lowercase;
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem o;
}

.info {
  background: #171717;
}

.contact .row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  text-align: center;
}

.contact h1 {
  color: white;
}

.contact h3 {
  color: white;
  text-align: center;
}

.contact .row .form-container {
  width: 50%;
  padding-right: 6rem;
}

.contact .row .form-container input, textarea {
  height: 4rem;
  width: 100%;
  background: white;
  border-radius: 5rem;
  padding: 0 1rem;
  margin: 1rem 0;
  color: #f9580e;
  font-size: 1.7rem;
  transition: 0.2s linear;
}

.contact .row .form-container input:focus, textarea:focus {
  border: 0.4rem solid #f9580e;
}

.contact .row .form-container textarea {
  height: 20rem;
  border-radius: 1rem;
  padding: 1rem;
  resize: none;
}

.contact .row .form-container input [type=submit] {
  height: 5rem;
  width: 17rem;
  background: #f9580e;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.2s;
}

.contact .row .form-container input[type=submit]:hover {
  background: none;
  color: #f9580e;
  border: 0.2rem solid #f9580e;
}

.footer {
  text-align: center;
}

.footer .icons {
  padding: 3rem 0;
}

.footer .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.2rem;
  text-align: center;
  border-radius: 50%;
  color: #ffc246;
  border: 0.2rem solid #ffc246;
  font-size: 2rem;
  margin: 0 0.1rem;
  transition: 0.2s linear;
}

.footer .icons a:hover {
  color: white;
  background: #f9580e;
  border-color: #f9580e;
}

/*# sourceMappingURL=estilos.css.map */
